// sizes
@layer components {
  .btn-sm {
    padding: 10px 31px !important;
    font-size: 12px !important;
    border-radius: 8px !important;
  }
  .btn-md {
    padding: 12px 32px !important;
    font-size: 14px !important;
  }
  .btn-lg {
    padding: 14px 44px !important;
    font-size: 14px !important;
  }
}

// variants
.btn-primary {
  border: none;
  color: white;
  background-color: #8f00ff;
  &:hover {
    background-color: #7601d1;
  }
}

.btn-secondary {
  border: 1px solid #8f00ff;
  color: #ab41fe;
  background-color: transparent;
  &:hover {
    color: white;
    background-color: #8f00ff;
  }
}

.btn-text {
  background-color: transparent;
  color: white;
  &:hover {
    color: #8f00ff;
  }
}

// navigation button(link)
.nav-button {
  // font-family: "Clash Grotesk";
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 60px;
  color: #ffffff;
  user-select: none;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  &:hover {
    color: #8f00ff;
  }
}

// hamburger menu button
.hamburger {
  width: 45px;
  height: 45px;
  margin-left: 15px;
}
