.card {
  position: relative;
  padding: 14px;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  border-radius: 20px;
  background-color: rgba(0, 7, 72, 0.12);
  backdrop-filter: blur(3px);
  height: fit-content;
  & .image {
    height: 200px !important;
    & > img {
      width: 144px !important;
      max-width: 144px !important;
      @include respond-to($medium-screen) {
        width: 280px !important;
        max-width: 280px !important;
      }
    }
    @include respond-to($medium-screen) {
      height: 400px !important;
    }
  }
  &.card1 {
    transform: translate(-60%, 10%) rotate(-35deg);
    scale: 0.8;
    position: absolute;
  }
  &.card2 {
    z-index: 10;
  }
  &.card3 {
    transform: translate(60%, 10%) rotate(35deg);
    scale: 0.8;
    position: absolute;
  }
  &.video img {
    width: 100%;
  }
  .card-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 14px;
    background: linear-gradient(
      154.8deg,
      rgba(4, 0, 17, 0) -13.24%,
      rgba(9, 1, 41, 0.3) 123.29%
    );
    filter: drop-shadow(0px 2.7905px 34.1836px rgba(0, 7, 72, 0.12));
    backdrop-filter: blur(6px);
    -webkit-filter: blur(5px);
  }
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 1.5px;
    background: linear-gradient(90deg, #69eacb, #eaccf8, #6654f1);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: xor;
    mask-composite: exclude;
  }
}

.nftrich-cards {
  padding-top: 60px;
  .joinnft-card {
    cursor: pointer;
    transition: all 1200ms;
    &:hover {
      .gradient-effect::after {
        opacity: 0;
      }
      &.card1 {
        // background-color: #3c2c66;
        background-color: #877cff57;
      }
      &.card2 {
        background-color: #1ca0d757;
        // background-color: #26375c;
      }
      &.card3 {
        background-color: #955ae957;
        // background-color: #522b62;
      }
      &.card4 {
        background-color: #fea96257;
        // background-color: #534e46;
      }
    }
    background-color: #221b3f;
  }
  .card1 .gradient-effect {
    &::after {
      background: radial-gradient(#877cff87, #221b3f00 70%);
    }
  }
  .card2 .gradient-effect {
    &::after {
      background: radial-gradient(#1ca0d787, #221b3f00 70%);
    }
  }
  .card3 .gradient-effect {
    &::after {
      background: radial-gradient(#955ae987, #221b3f00 70%);
    }
  }
  .card4 .gradient-effect {
    &::after {
      background: radial-gradient(#fea96287, #221b3f00 70%);
    }
  }
}

.gradient-effect {
  border-radius: 0.75rem;
  overflow: hidden;
  &::after {
    --gradient-height: 250px;
    --gradient-width: 400px;

    content: "";
    position: absolute;
    /* substracting half the size to center gradient with cursor. */
    // top: calc(var(--y-cursor-position, 0) * 1px - var(--gradient-height) / 2);
    // left: calc(var(--x-cursor-position, 0) * 1px - var(--gradient-width) / 2);
    top: -70px;
    left: calc((100% - 400px) / 2);
    height: var(--gradient-height);
    width: var(--gradient-width);
    opacity: 0.7;
    transition: opacity 1200ms;
  }
}
